---
name: CI

on: [push, pull_request]

jobs:

  print_context:
    name: print-context
    runs-on: ubuntu-latest
    steps:
      - env:
          EVENT_CONTEXT: ${{ toJSON(github.event) }}
        run: |
          echo $EVENT_CONTEXT
          echo ${{github.ref}}
          echo ${{github.event.repository.owner.name}}
          # echo ${{github.event.organization.events_url[1].payload.pull_request.title}}



  diff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            const diff_url = https://api.github.com/repos/pollination-apps/ci-test/events
            const result = await github.request(diff_url)
            console.log(result[1])
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}