---
name: CI

on: [push, pull_request]

jobs:

  print_context:
    name: print-context
    runs-on: ubuntu-latest
    steps:
      - env:
          EVENT_CONTEXT: ${{ toJSON(github.event) }}
          EVENT_URL: ${{ toJSON(github.event.organization.events_url) }}
        run: |
          echo $EVENT_CONTEXT
          echo ${{github.ref}}
          echo ${{github.event.repository.owner.name}}
          # echo ${{github.event.organization.events_url[1].payload.pull_request.title}}
          echo $EVENT_URL


